@page
@model TopLearn.Web.Pages.Admin.Courses.EditCourseModel
@{
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">اطلاعات دوره  </h1>
    </div>
</div>
<br />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="course.CourseId" />
        <input type="hidden" asp-for="course.CreateDate" />
        <input type="hidden" asp-for="course.CourseImageName" />
        <input type="hidden" asp-for="course.DemoFileName" />
        <div class="col-md-8">
            <div class="form-group">
                <label> عنوان دوره</label>
                <input class="form-control" asp-for="course.CourseTitel">
                <span asp-validation-for="course.CourseTitel"></span>
            </div>
            <div class="form-group">
                <label> گروه اصلی</label>
                <select class="form-control" asp-for="course.GroupId" asp-items="@(ViewData["Groups"]as SelectList)"></select>
                <span asp-validation-for="course.GroupId"></span>
            </div>
            <div class="form-group">
                <label> گروه فرعی</label>
                <select class="form-control" asp-for="course.SubGroup" asp-items="@(ViewData["Subgroups"]as SelectList)"></select>
                <span asp-validation-for="course.SubGroup"></span>
            </div>
            <div class="form-group">
                <label> مدرس دوره </label>
                <select class="form-control" asp-for="course.TeacherId" asp-items="@(ViewData["Techers"]as SelectList)"></select>
                <span asp-validation-for="course.TeacherId"></span>
            </div>
            <div class="form-group">
                <label> شرح دوره </label>
                <textarea rows="10" class="form-control" asp-for="course.CorseDescription"></textarea>
                <span asp-validation-for="course.CorseDescription"></span>
            </div>
            <div class="form-group">
                <label> قیمت دوره </label>
                <input type="number" asp-for="course.CoursePrice" class="form-control" />
                <span asp-validation-for="course.CoursePrice"></span>
            </div>
            <div class="form-group">
                <label>فایل دمو  </label>
                <input type="file" name="demoUP" src="/Course/demoes/@Model.course.DemoFileName" asp-for="course.DemoFileName" />
                <span asp-validation-for="course.DemoFileName"></span>
            </div>
            <div class="form-group">
                <label>کلمات کلیدی دوره  </label>
                <input type="text" class="form-control" asp-for="course.Tags" />
                <p class="help-block">کلمات را با-جداکنید.</p>
                <span asp-validation-for="course.Tags"></span>
            </div>
            <input class="btn btn-success" value="ذخیره اطلاعات " type="submit">
        </div>
        <div class="col-md-4">
            <p></p>
            <img id="imagCourse" class="thumbnail" src="/Course/image/@Model.course.CourseImageName" />
            <div class="form-group">
                <label>انتخاب تصویر</label>
                <br />
                <input type="file" asp-for="course.CourseImageName" id="ImagCourseUP" name="ImagCourseUP">



            </div>
            <div class="form-group">
                <label> سطح دوره </label>
                <select asp-for="course.SId" class="form-control" asp-items="@(ViewData["Statues"] as SelectList)"></select>
                <span asp-validation-for="course.SId"></span>
            </div>
            <div class="form-group">
                <label> وضعیت دوره </label>
                <select class="form-control" asp-for="course.Lid" asp-items="@(ViewData["Levels"] as SelectList)"></select>
                <span asp-validation-for="course.Lid"></span>
            </div>
        </div>
    </form>
</div>
@section Script
{
    <script>
        $("#course_GroupId").change(function () {
            $("#course_SubGroup").empty();
            $.getJSON("/Home/GetSubGroups/" + $("#course_GroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#course_SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');

                        });

                });

        });


        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagCourse').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImagCourseUP").change(function () {
            readURL(this);
        });


    </script>

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('course_CorseDescription', {
            customConfig: '/js/Config.js'
        });

    </script>
}
